:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --button-bg:rgb(16, 105, 128);
  --text-color:antiquewhite;
  --link-color: #5c08e4;
  --visited-link: #765b81;
  --text-align: center;
  --project-bg-color: rgb(54, 8, 8);
  --black:rgba(0,0,0,0.4);
  --font-weight: 800;

}

* {
    box-sizing: border-box;
  }
   .page-header {
    display: flex;
    width: 100%;
    max-width: 2000px;
    margin:auto;
    padding: 20px;
    border-bottom: solid var(--secondary-color);
  }
  .page-header__item {
    flex: 0 1 200px;
  }
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  .navigation-list {
    list-style-type: none;
  }
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color:var(--primary-color);
    color: var(--text-color);
 }
 a {
    color: var(--link-color);
  }
  
  
  a:visited {
    /* visited link */
    color:var(--visited-link);
  }
  a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
  a:active {
    /* selected link */
    color:var(--link-color);
    ;
  }
  button,
  .button {
    border: none;
    font-family: inherit;
    background-color:var(--button-bg);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--black);
    transition: 0.6s opacity;
    
  }
  a{
    transition: .6s opacity;
  }
  a:hover, a:focus, 
  button:hover, button:focus,
  .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.5;
  }
  .button__secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
  }
  .navigation-list__item--active {
    text-decoration: none;
  }
 h1 {
    text-align: var(--text-align);
    font-size: 30px;
    font-weight: var(--font-weight);
  }
  
  h2 {
    text-align: var(--text-align);
    font-size: 24px;
    font-weight:  var(--font-weight);
  }
  
  h3 {
    text-align: var(--text-align);
    font-size: 18px;
    font-weight:  var(--font-weight);
  }
  .profile {
    max-width: 700px;
    margin: 0 auto;
  }
  .profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }
  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align:var(--text-align);
  } 
  .projects {
    text-align: var(--text-align);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 15px;
    border-radius: 2px;
    
  }
  .projects__item  {
    text-align: var(--text-align);
    background-color:var(--project-bg-color);
    width:auto;
    min-height: auto;
    margin: 2px;
  }
  .projects__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
  .table {
    margin: auto;
    display: flex;
    max-width: fit-content;
    padding: 20px;
  }
  .about-me{
    display: flex;
    text-align: var(--text-align);
    max-width: 750px;
    padding: 30px;
    margin: auto;
  }
  .about_buttons{
    display: flex;
    align-items: center;    
    max-width: 500px;
    padding: 30px;
    margin: auto;
  }
  .contact-info{
    display: inline;
    text-align: var(--text-align);
    padding: 20px;
  }
  .svg{
    display: flex;
    text-align:  var(--text-align);
    max-width: 500px;
    margin:auto;
  }
  @media all and (max-width: 500px) {
    .projects {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 501px) and (max-width: 750px) {
    .projects {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px){
    .projects {
      grid-gap: 10px;
    }
    .projects__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  @keyframes color-change {
    0% {
      fill: #ffff00;
    }
    25% {
      fill: #fcffad;
    }
    50% {
      fill: #edc655;
    }
    100% {
      fill: #f76414;
    }
    
  }
  @keyframes color-change-background {
    0% {
      fill: #0ff;
    }
    25% {
      fill: #aacbe9;
    }
    50% {
      fill: #8eb9e2;
    }
    100% {
      fill: #4f51eb;
    }}
  .background {
      animation: 8s color-change-background infinite alternate linear;
    }
  .sun {
    animation: 8s color-change infinite alternate linear;
  }
  @keyframes cloud-move {
    from {
      transform: translate(0, 0px);
    }
    to {
      transform: translate(300px, 50px);
    }

  }
  @keyframes cloud-grow{
    from{
      transform: scale(100%);
    }
    to {
      transform: scale(150%);
    }
    }  
  .left-cloud , .right-cloud {
    animation: 24s cloud-move infinite alternate linear;
  }
  .left-cloud, .right-cloud {
   animation: 24s cloud-grow infinite alternate linear;
  }
 